h1 {
    font-family:'Georgia';
    background-color: #26cf20;
}

.button {
  background-color: #26cf20;
  border: none;
  font-weight: bold;
  font-family:'Georgia';
  color: rgb(32, 32, 32);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}  

.button:hover {
  background-color: #0f490d;
}

