html body{
  margin: 0;
  padding: 0;
}

.button {
  background-color: #6d91a8;
  border: none;
  font-weight: bold;
  font-family:'Georgia';
  color: rgb(32, 32, 32);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}  

.button:hover {
  background-color: #123111;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #68879e;
  font-family: arial;
  text-align: left;
  width: 100%;
  position: sticky;
  top: 0;
}

ul.navbar li{
  display: block;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  float: left;
  font-size: 20px;
  border-right: 1px solid #bbb;
}

ul.navbar li a{
   color: inherit; 
   text-decoration: none;
}


